version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: 'chore(deps):'
    groups:
      actions-toolkit:
        patterns:
          - '@actions/*'
      dev-dependencies:
        dependency-type: development

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: 'chore(deps):'
    versioning-strategy: commit-sha
